/* Styles reset */
* {
    box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Weather widget */

.weather-widget {
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    background: linear-gradient(
        0deg,
        rgba(177, 216, 255, 1) 0%,
        rgba(100, 169, 242, 1) 100%
    );
    width: 370px;
    padding: 30px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;
    border-radius: 5px;
    color: white;
}

.weather-widget__top-wrapper {
    display: none;
}

.weather-widget__value {
    font-size: 60px;
}

.weather-widget__main-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.weather-widget__city-name {
    font-size: 28px;
    font-weight: 800;
}

.weather-widget__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 380px) {
    .weather-widget {
        width: 220px;
        padding: 10px;
    }
    .weather-widget__list {
        display: none;
    }
    .weather-widget__value {
        font-size: 30px;
    }
    .weather-widget__city-name {
        font-size: 20px;
    }
    .weather-widget__top-wrapper {
        display: flex;
    }
}

@media (max-width: 230px) {
    .weather-widget {
        width: 120px;
        padding: 10px;
    }
}

@media (max-height: 170px) {
    .weather-widget {
        width: 120px;
        padding: 10px;
    }
    .weather-widget__list {
        display: none;
    }
    .weather-widget__value {
        font-size: 30px;
    }
    .weather-widget__city-name {
        font-size: 20px;
    }
    .weather-widget__top-wrapper {
        display: flex;
    }
}
